* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff4f1;
  
}

main {
  width: 100%;
}
header {
  display: flex;
  padding: 11px;
  text-align: center;
  color: #fff;
}

#big-title {
  flex: 3;
  padding: 1.5%;
  text-align: left;
  color: #fff;
}
.nav-items {
  flex: 2;
  display: flex;
  font-size: larger;
  justify-content: space-around;
  align-items: last baseline;
}

.about-container {
  display: flex;
  align-items: center;
  padding: 1%;
}

#name {
  flex: 3;
}

#name span {
  color: rgb(99, 19, 7);
}

.about-me {
  padding: 2%;
  flex: 7;
}

.avatar {
  flex: 1;
}

/*.page-wrapper {
  padding: 2%;
}*/

img {
  display: block;
  height: 135px;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: rgb(33, 40, 63);
}

h1 {
  font-size: xx-large;
}
p {
  margin: 0;
  color: rgb(33, 40, 63);
  text-align: justify;
}

a {
  text-decoration: none;
}



.page-section-contact {
  display: flex;
  /*justify-content: space-between;*/
  align-items: stretch;
}

.contact, .resume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffb3ae;
}

.resume {
  background-color: #ffb3ae;
  flex: 30%;
  justify-content: space-around;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 70%;
  justify-content: left;
  background-color: #f47068;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 70%;
}
.contact h2 {
  flex: 30% ;
  margin: 1%;
}
.contact h2, .contact p, .resume h2, .resume button {
  margin: 1%;
}

